@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: $color-light-primary;

  .menuBarRow {
    align-items: center;
    justify-content: center;
    padding: $base-padding 0;
  }
  .menuBarSearch{
    justify-content: center;
    align-items: center;
    height: 45px;
  }
  .menu {
    display: flex;
    align-self: stretch;
    .icon{
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      display: flex;


      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      // color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $color-light-primary;
      font-weight: 500;
      letter-spacing: 1px;
      @extend %buttons-hover-before;

      &:hover {
        @extend %buttons-hover-after;
      }
      &.active {
        background-color: $primary;
        color: $color-light-primary;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }
  /*Tablets*/
  @media (max-width: 1024px){
    .menuBarRow {
      padding: 0;
    }
    .menuBarSearch{
      order: 2;
      text-align: center;
    }
    .menu{
      order: 1;
      justify-content: center;
    }
  }
  /*Mobile*/
  @media (max-width: 767px){

    .menuBarRow{
      flex-direction: row;
      flex-wrap: nowrap;
      position: relative;
      padding: $base-padding;
    }
    .menuBarSearch{
      order: 1;
      flex-basis: 50%;
    }
    .menu{
      order: 2;
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      .icon{
        border-radius: 3px;
        display: block;
      }
      ul{
        display: none;
      }
      &:hover{
        .icon{
          fill: $orange;
        }
        ul {
          position: absolute;
          display: flex;
          flex-direction: column;
          z-index: 10;
          top: calc(100% - (100% - 45px) / 2);
          max-width: calc(100%);
          li{
            display: block;
            height: 45px;
            background-color: $light-grey-tertiary;
            a{
              border-top: none;
            }
          }
        }
      }
    }
  }
}
