@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $footer-claim-bg;
  color: $color-light-primary;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;
  @extend %button-hover-before;
  // background-color: #2a2a2a;

  &:not(.noHover):hover {
    // color: #ffffff !important;
    // background-color: $primary;
    @extend %button-hover-after;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $text-color;
  color: $text-color;
  font-size: 13px;
  line-height: 22px;
  @extend %button-hover-before;

  &:not(.noHover):hover {
    // background-color: #2a2a2a;
    // color: #ffffff;
    @extend %button-hover-after;
  }
}

.outlineFavourites {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $text-color;
  font-size: 13px;
  line-height: 22px;
  background-color: $text-color;
  color: $color-light-primary;

}

.outlineCompare {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $text-color;
  font-size: 13px;
  line-height: 22px;
  background-color: $text-color;
  color: $color-light-primary;

}
