@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $footer-claim-bg;
  color: $color-light-primary;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $color-light-primary !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $text-color;
  color: $text-color;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $text-color;
    color: $color-light-primary;
  }
}

.outlineFavourites {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $text-color;
  font-size: 13px;
  line-height: 22px;
  background-color: $text-color;
  color: $color-light-primary;

}
