@import "../../../styles/settings.scss";

.root {
  .productsRow{
    justify-content: left;
    .product {
      flex-basis: 25%;
      max-width: 25%;
    }
  }
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $global-border-color;
    }

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }
    }
  }
    .menu {
      text-align: center;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;

          a {
            color: $content-color;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;

            &.active,
            &:hover {
              &::before {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $primary;
              }
            }
          }
        }
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $color-light-primary;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $color-light-secondary;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $primary;
            }
          }
        }
      }
    }
    /*Tablets*/
  @media (max-width: 1024px){

    .productsRow{
      justify-content: left;
      .product {
        flex-basis: 33.3%;
        max-width: 33.33%;
      }
    }
  }
  /*Mobile*/
  @media (max-width: 767px){

    .menuPagesBar{
      display: flex;
      flex-direction: column;
      align-items: center;

      .heading{
        min-width: 100%;
        padding-bottom: 0.5em;
        text-align: right;
        border-bottom: none;
        &::before {
          content: "";
          position: absolute;
          bottom: -4px;
          right: 0;
          width: 100%;
          border-bottom: 4px solid $primary;
        }
      }
      .menu{
        padding-top: 1em;
        border-bottom: 4px solid $global-border-color;
      }
      .dots{
        position: inherit;
        margin-bottom: 1em;
      }
    }
    .productsRow{
      flex-direction: column;
      justify-content: center;
      .product {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}


.fadeStart {
  animation-name: fade-start;
  animation-duration: $transition;
  display: flex;
  flex-wrap: wrap;
}

.fadeEnd {
  animation-name: fade-end;
  animation-duration: $transition;
  display: flex;
  flex-wrap: wrap;
}

@keyframes fade-start {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fade-end {
  from {opacity: 0;}
  to {opacity: 1;}
}
