@import "../../../styles/settings.scss";

.root {
  background-color: $color-light-primary;
  border: 1px solid $color-light-secondary;
  width: 100%;
  max-width: 100%;
  position: relative;

  .photo {

    padding: 80% 10px 0 10px;
    background: {
      color: $color-light-tertiary;
      size: cover;
      position: center;
      repeat: no-repeat;
    }
  }
  .icon{
    position: absolute;
    top: calc((100% - 2em) / 2);
    left: calc((100% - 2em) / 2);
    height: 2em;
    width: 2em;
    color: $orange;

    cursor: pointer;

    visibility: hidden;

  }

  &:hover .icon{
    visibility: visible;
  }
  &:hover .icon:hover{
    color: #FFE4C4;
  }

}
