@import "../../../styles/settings.scss";

input[type="radio"] {
    display: none;
    cursor: pointer;
}

//   svg:hover {
//     color: blue !important ;
// }

.FontColor {
    color:gold;
}

.fontIcon {
    color: #e6e29c;
}

