$base-padding: 24px;

//COLOR VARIABLES (ONLY FOR CHANGE, NOT FOR USE IN MODULES)
$light-grey: #434343;
$light-grey-secondary: #b6b6b6;
$light-grey-tertiary: rgb(216, 216, 216);
$light-grey-quaternary: rgb(224, 227, 237);
$light-grey-5th: rgb(169, 169, 169);
$dark-grey: #363636;
$black-primary: #2a2a2a;
$black-secondary: #292929;
$black-tertiary: rgb(42, 42, 42);
$orange: #d58e32;
$white-primary: #ffffff;
$white-secondary: #e1e1e1;
$white-tertiary: #f4f5f7;
$white-quaternary: #e2e2e2;


//VARIABLES FOR MODULES

$header-topbar-bg: $light-grey;
$header-bg: $dark-grey;
$footer-claim-bg: $black-primary;
$footer-bg: $dark-grey;
$primary: $orange;
$global-border-color: $white-quaternary;
$content-color: $black-tertiary;
$color-light-primary: $white-primary;
$color-light-secondary: $white-secondary;
$color-light-tertiary: $white-tertiary;
$text-color: $black-primary;
$form-border-color: $black-secondary;
$root-border-color: $light-grey-secondary;
$phone-paragraph-color: $light-grey-tertiary;
$cardcounter-color: $light-grey-quaternary;
$list-element-text-color: $light-grey-5th;

%buttons-hover-before {
  background-image: linear-gradient(45deg, $primary 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: 250ms ease-in-out, color 250ms ease-in-out;
  color: $primary;
};

%buttons-hover-after {
  background-position: 0;
  color: $color-light-primary;
};

%text-hover-before {
  background-image: linear-gradient(to bottom, transparent 50%);
  background-position: 0% 0%;
  background-size: 400%;
  transition: 250ms ease-in-out, color 250ms ease-in-out;
  color: $primary;
};

%text-hover-after {
  background-position: 0% 100%;
  color: $primary;
};
//TRANSITION
$transition: 0.6s;

//BREAKPOINTS
@mixin breakpoint($point) {
  @if $point == mobileonly {
    @media (max-width: 320px) { @content ; }
  }
  @else if $point == phablet {
    @media (min-width: 320px) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 800px) { @content ; }
  }
  @else if $point == desktop {
    @media (min-width: 1366px) { @content ; }
  }
}
