@import "../../../styles/settings.scss";

.root {
  .productsRow{
    justify-content: left;
    .product {
      flex-basis: 25%;
      max-width: 25%;
    }
  }
  .panelHeader {
    margin-bottom: 30px;
    position: relative;
    border-bottom: 4px solid $global-border-color;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 10%;
        border-top: 4px solid $primary;
    }
    

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }
    }
  }
    .menu {
      text-align: center;
      text-transform: uppercase;
    }

    .navHeader {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none; 
        border-bottom: 1px solid $global-border-color;

        .navItem {
            width: 100%;

            .navLink {
            display: block;
            padding: 0.5rem 1rem;
            border: 1px solid $global-border-color;
            text-align: center;
            }

            a {
                position: relative;
                color: $content-color;
                display: block;
                text-decoration: none;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 600;

                &.active {
                    color: $primary;
                    background-color: $light-grey-tertiary;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 100%;
                        border-top: 4px solid $primary;
                        transform: translateY(-250%);
                    }
                }
            }
        }
    }
    
    .carousel {
        border: 1px solid $global-border-color;

        .mainPhoto {
            position: relative;
            padding: 80% 10px 0 10px;
            z-index: -1;
            background: {
              color: $color-light-tertiary;
              size: cover;
              position: center;
              repeat: no-repeat;
            }
        }

        .photo {
            position: relative;
            padding: 6% 6% 6% 6%;
            background: {
              color: $color-light-tertiary;
              size: cover;
              position: center;
              repeat: no-repeat;
            }  
        }

        .activePhoto {
            opacity: 0.5;
        }  
        
        .thumbnail {
            background-color: #ffffff;
            justify-content: space-between;
            border: 1px solid $global-border-color;
            padding: 1%;
        }

        .arrowButton {
            border: 0;
            background-color: #000000;
            padding: 2%;
        }

        .arrow {
            border: solid #ffffff;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            margin-left: auto;
            margin-right: auto;
            display: block !important;
        }

        .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            
        }

        .left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        .tabButtons {
            padding-top: 20%;

            .buttonIcon {

                &hover {
                    color: $primary;
                }
            }
            a {
              margin-bottom: 10px;
              width: 2.3rem;
            }
            
            .tooltip {
              visibility: hidden;
              position: absolute;
              display: flex;
              padding: .5rem;
              width: 9.5rem;
              transform: translate(2.2rem, -.6rem);
              background-color: black;
              color: #ffffff;
              font-weight: 600;
              font-size: 1rem;
            }

            .tooltip::after {
              content: "";
              position: absolute;
              top: 50%;
              right: 100%;
              margin-top: -10px;
              border-width: 10px;
              border-style: solid;
              border-color: transparent black transparent transparent;
            }
            a:hover .tooltip {
              visibility: visible;
              z-index: 2;
            }
        }

        .prices{
          position: relative;
          background-color: #AFACAC;
          opacity: .8;
          width: 5.5rem;
          height: 5.5rem;
          border-radius: 50%;
          display:flex;
          flex-direction: column;
          justify-content: center;
          float: right;
          transform: translate(-8rem , -5.5rem);
          z-index: 2;
          
          .priceWheel {
            text-align: center;
            color: #ffffff;

            h5 {
              font-size: 25px;
            }
          

            .oldPrice {
              text-decoration: line-through;
              text-decoration-color: #ffffff;
              font-size: 20px;
            }
          }
        }

        .rating {
            position:relative;
            display: flex;
            flex-direction: column;
            float: right;
            border: 1px solid $global-border-color;
            width: 60%;
            transform: translate(20%, -10%);
            background-color: #ffffff;
            padding: 2%;

            &::before {
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                border-top: 25px solid black;
                border-right: 25px solid transparent;
                top: 0;
                left: 0;
            }

            &::after {
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                border-bottom: 25px solid black;
                border-left: 25px solid transparent;
                bottom: 0;
                right: 0;
            }

            .photoRating {
                margin-left: auto;
                margin-right: auto;
            }
        }
        
    }

    /*Tablets*/
  @media (max-width: 1024px){

    .productsRow{
      justify-content: left;
      .product {
        flex-basis: 33.3%;
        max-width: 33.33%;
      }
    }
  }
  /*Mobile*/
  @media (max-width: 767px){

    .menuPagesBar{
      display: flex;
      flex-direction: column;
      align-items: center;

      .heading{
        min-width: 100%;
        padding-bottom: 0.5em;
        text-align: right;
        border-bottom: none;
        &::before {
          content: "";
          position: absolute;
          bottom: -4px;
          right: 0;
          width: 100%;
          border-bottom: 4px solid $primary;
        }
      }
      .menu{
        padding-top: 1em;
        border-bottom: 4px solid $global-border-color;
      }
      .dots{
        position: inherit;
        margin-bottom: 1em;
      }
    }
    .productsRow{
      flex-direction: column;
      justify-content: center;
      .product {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}


.fadeStart {
  animation-name: fade-start;
  animation-duration: $transition;
  display: flex;
  flex-wrap: wrap;
}

.fadeEnd {
  animation-name: fade-end;
  animation-duration: $transition;
  display: flex;
  flex-wrap: wrap;
}

@keyframes fade-start {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fade-end {
  from {opacity: 0;}
  to {opacity: 1;}
}
