@import "../../../styles/settings.scss";

.root {
  .productsRow{
    justify-content: left;
    .product {
      flex-basis: 25%;
      max-width: 25%;
    }
  }
  .panelHeader {
    margin-bottom: 30px;
    position: relative;
    border-bottom: 4px solid $global-border-color;
    

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }
    }
  }

  .productPhoto {
    padding-top: 30%;
    height: 95%;
  
    .photo {
      position: relative;
      padding: 0 10px 0 10px;
      bottom: 0;
      height: 100%;
      background: {
        color: $color-light-tertiary;
        size: cover;
        position: center;
        repeat: no-repeat;
      }
    }
  }

  .announce {
    z-index: 2;
    position: absolute;
    padding-top: 10%;

    .announceTitle {
     text-transform: uppercase;
     font-weight: 600;
     font-size: 20px;

     .announceSpan {
       color: green;
       font-size: 40px;
     }
    }
    .announceBed {
      color: orange;
      letter-spacing: 0.2rem;
      font-size: 40px;
    }
    .announceButton {
      background-color: #4CAF50;
      border: none;
      color: #fff;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 30px 2px;
      cursor: pointer;
    }
    
  }

    /*Tablets*/
  @media (max-width: 1024px){

    .productsRow{
      justify-content: left;
      .product {
        flex-basis: 33.3%;
        max-width: 33.33%;
      }
    }
  }
  /*Mobile*/
  @media (max-width: 767px){

    .menuPagesBar{
      display: flex;
      flex-direction: column;
      align-items: center;

      .heading{
        min-width: 100%;
        padding-bottom: 0.5em;
        text-align: right;
        border-bottom: none;
        &::before {
          content: "";
          position: absolute;
          bottom: -4px;
          right: 0;
          width: 100%;
          border-bottom: 4px solid $primary;
        }
      }
      .menu{
        padding-top: 1em;
        border-bottom: 4px solid $global-border-color;
      }
      .dots{
        position: inherit;
        margin-bottom: 1em;
      }
    }
    .productsRow{
      flex-direction: column;
      justify-content: center;
      .product {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}


.fadeStart {
  animation-name: fade-start;
  animation-duration: $transition;
  display: flex;
  flex-wrap: wrap;
}

.fadeEnd {
  animation-name: fade-end;
  animation-duration: $transition;
  display: flex;
  flex-wrap: wrap;
}

@keyframes fade-start {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fade-end {
  from {opacity: 0;}
  to {opacity: 1;}
}
